# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary tests data
test_data/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
data/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# PyCharm
.idea/

# Config files
config.yaml
secrets.yaml